statemachine/business_validation_step_function.asl.json
{
  "Comment": "Business Validation State Machine",
  "StartAt": "Choice based on validation results",
  "States": {
    "Choice based on validation results": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.input.error",
          "IsPresent": true,
          "Next": "Choice"
        }
      ],
      "Default": "Save Hash in ShipmentHash"
    },
    "Save Hash in ShipmentHash": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "ShipmentHash",
        "Item": {
          "addrHashCode": {
            "S.$": "$.input.hashdata.hashcode"
          },
          "wasProcessed": {
            "BOOL": "false"
          }
        }
      },
      "Next": "Save Shipment Record",
      "ResultPath": "$.shipmentHashResult"
    },
    "Save Shipment Record": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "ShipmentRecord",
        "Item": {
          "addrHashCode": {
            "S.$": "$.input.hashdata.hashcode"
          },
          "recordId": {
            "S.$": "$.input.recordId"
          },
          "processTime": {
            "S.$": "$$.Execution.StartTime"
          },
          "body": {
            "S.$": "States.JsonToString($.input)"
          }
        }
      },
      "End": true
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.input.error",
          "IsPresent": true,
          "Next": "Send to Manual correction/resubmits"
        }
      ],
      "Default": "Send to Error Queue"
    },
    "Send to Error Queue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "MessageBody.$": "$",
        "QueueUrl": "${ShipmentDLQueueUrl}"
      },
      "End": true
    },
    "Send to Manual correction/resubmits": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "MessageBody.$": "$",
        "QueueUrl": "${ShipmentManualResubmitQueueUrl}"
      },
      "End": true
    }
  }
}
