statemachine/sawbprocessing_step_function.asl.json
{
  "Comment": "SAWB Processing state machine",
  "StartAt": "Invoke SAWB",
  "States": {
    "Invoke SAWB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultSelector": {
        "AirwayBillResponse.$": "$.Payload"
      },
      "ResultPath": "$.AirwayBill",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${SAWBHandler}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Save ShipmentBill"
    },
    "Save ShipmentBill": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "ResultPath": null,
      "Parameters": {
        "TableName": "${AirwaysShipmentTable}",
        "Item": {
          "addrDateHash": {
            "S.$": "$.AirwayBill.AirwayBillResponse.addrDateHash"
          },
          "processDate": {
            "S.$": "$.AirwayBill.AirwayBillResponse.processDate"
          },
          "processTime": {
            "S.$": "$.AirwayBill.AirwayBillResponse.processTime"
          },
          "shipmentRecordID": {
            "S.$": "$.AirwayBill.AirwayBillResponse.sawb_bill_number"
          },
          "processTime": {
            "S.$": "$$.State.EnteredTime"
          },
          "body": {
            "S.$": "States.JsonToString($.AirwayBill)"
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 6,
          "Comment": "Retry DDB inserts/updates"
        }
      ],
      "Next": "Invoke Inventory"
    },
    "Invoke Inventory": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultSelector": {
        "inventory.$": "$.Payload.Inventory"
      },
      "ResultPath": "$.InventoryResult",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${InventoryHandler}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.InventoryResult.inventory.available",
          "IsPresent": false,
          "Next": "ReplaceSupplier"
        }
      ],
      "Default": "GoWithSupplier"
    },
    "GoWithSupplier": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${SupplierHandler}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Get ShipmentGroups By Sub-partitions"
    },
    "ReplaceSupplier": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.UPSShippingResponse",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${SupplierHandler}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Get ShipmentGroups By Sub-partitions"
    },
    "Get ShipmentGroups By Sub-partitions": {
      "Type": "Task",
      "Parameters": {
        "TableName": "${ShipmentHashTable}",
        "ProjectionExpression": "addrDateHash",
        "ExpressionAttributeValues": {
          ":givenAddrHashCode": {
            "S.$": "$.addrHashCode"
          }
        },
        "KeyConditionExpression": "addrHashCode = :givenAddrHashCode",
        "FilterExpression": "attribute_not_exists(sawbHash)"
      },
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
      "ResultPath": "$.RemainingAddressDateMap",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 2,
          "MaxAttempts": 15,
          "Comment": "Retry DDB inserts/updates"
        }
      ],
      "Next": "Map based on Address partitions"
    },
    "Map based on Address partitions": {
      "Type": "Map",
      "Next": "Check for additional Address Date map entries",
      "Iterator": {
        "StartAt": "Reset AddressDateHash",

        "States": {

            "Reset AddressDateHash": {
            "Type": "Pass",
            "Parameters": {
              "AddressDateHash.$": "$.AddressDateHashOuter.addrDateHash.S"
            },
            "ResultPath": "$.AddressDateOuter",
            "Next": "Handle Shipment by Address Partitions"
          },

          "Handle Shipment by Address Partitions": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Parameters": {
              "StateMachineArn": "${ShipmentPartitionHandlerStepFunction}",
              "Input": {
                "AddressHash.$": "$.AddressHash",
                "AddressDateHash.$": "$.AddressDateOuter.AddressDateHash",
                "AirwayBillNumber.$": "$.AirwayBillNumber",
                "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
              }
            },
            "ResultPath": "$.ProcessedRecords",
            "Next": "Update ShipmentHash As Processed with ShipmentRecord"
          },

          "Update ShipmentHash As Processed with ShipmentRecord": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "ResultPath": null,
            "Parameters": {
              "TableName": "${ShipmentHashTable}",
              "Key": {
                "addrHashCode": {
                  "S.$": "$.AddressHash"
                },
                "addrDateHash": {
                  "S.$": "$.AddressDateOuter.AddressDateHash"
                }
              },
              "UpdateExpression": "SET wasProcessed = :myValueRef, sawbHash = :sawbHashRef",
              "ExpressionAttributeValues": {
                ":myValueRef": {
                  "S": "true"
                },
                ":sawbHashRef": {
                  "S.$": "$.AirwayBillNumber"
                }
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed"
                ],
                "BackoffRate": 2,
                "IntervalSeconds": 1,
                "MaxAttempts": 6,
                "Comment": "Retry DDB inserts/updates"
              }
            ],
            "Next": "Save Processed Results of shipments"
          },
          "Save Processed Results of shipments": {
            "Type": "Pass",
            "OutputPath": "$.ProcessedRecords.Output",
            "End": true
          }
        }
      },
      "ItemsPath": "$.RemainingAddressDateMap.Items",
      "Parameters": {
        "AddressDateHashOuter.$": "$$.Map.Item.Value",
        "AddressHash.$": "$.addrHashCode",
        "AirwayBillNumber.$": "$.AirwayBill.AirwayBillResponse.sawb_bill_number"
      },
      "ResultPath": null
    },
    "Check for additional Address Date map entries": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.RemainingAddressDateMap.LastEvaluatedKey",
            "IsPresent": true
          },
          "Next": "Finished"
        }
      ],
      "Default": "Continue query for additional Address Date map entries"
    },
    "Continue query for additional Address Date map entries": {
      "Type": "Task",
      "Next": "Map based on Address partitions",
      "Parameters": {
        "TableName": "${ShipmentHashTable}",
        "ProjectionExpression": "addrHashCode,addrDateHash",
        "ExpressionAttributeValues": {
          ":givenAddrHashCode": {
            "S.$": "$.addrHashCode"
          }
        },
        "KeyConditionExpression": "addrHashCode = :givenAddrHashCode",
        "FilterExpression": "attribute_not_exists(sawbHash)"
      },
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
      "ResultPath": "$.UnTrackedShipmentRecords"
    },
    "Finished": {
      "Type": "Pass",
      "OutputPath": "$.addrHashCode",
      "End": true
    }
  }
}
