statemachine/upsshipment_handler_step_function.asl.json
{
  "Comment": "UPS Shipment handler state machine",
  "StartAt": "Map",
  "States": {
    "Map": {
      "Type": "Map",
      "Iterator": {
          "StartAt": "UPS Shipment Invoke",
        "States": {
        "UPS Shipment Invoke": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultPath": "$.UPSShipment",
            "Parameters": {
              "Payload.$": "$.Payload",
              "FunctionName": "${UPSShipperService}"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed",
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 6,
                "BackoffRate": 2
              }
            ],
            "Next": "Reformat Parameters"
          },
          "Reformat Parameters": {
            "Type": "Pass",
            "Parameters": {
              "ShipmentRecordId.$": "$.Payload.ShipmentRecordId",
              "ShipmentProcessSubmissionTime.$": "$.Payload.ShipmentProcessSubmissionTime",
              "UPSTrackerID.$": "$.UPSShipment.Payload.UPSShipmentTrackingCode",
              "UPSShipmentResponse.$": "$.UPSShipment.Payload.UPSShipmentTracker.ShipmentResponse",
              "UPSShipmentRequest.$": "$.UPSShipment.Payload.ShipmentRequest"
            },
            "ResultPath": "$.DerivedParams",
            "Next": "Update Shipment Record with UPS Tracker"
          },
          "Update Shipment Record with UPS Tracker": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "ResultPath": null,
            "Parameters": {
              "TableName": "${ShipmentRecordTable}",
              "Key": {
                "addrDateHash": {
                  "S.$": "$.Payload.AddressDateHash"
                },
                "recordId": {
                  "S.$": "$.DerivedParams.ShipmentRecordId"
                }
              },
              "UpdateExpression": "SET upsTracker = :upsTrackerId, airwayBillNumber = :airwayBillNumber, addrHashCode = :addrHashCode, upsShipmentResponse = :upsShipmentResponse, upsShipmentProcessCompletionTime = :upsShipmentProcessCompletionTime,  upsShipmentProcessSubmissionTime = :upsShipmentProcessSubmissionTime",
              "ExpressionAttributeValues": {
                ":airwayBillNumber": {
                  "S.$": "$.Payload.AirwayBillNumber"
                },
                ":upsTrackerId": {
                  "S.$": "$.DerivedParams.UPSTrackerID"
                },
                ":addrHashCode": {
                  "S.$": "$.Payload.AddressHash"
                },
                ":upsShipmentResponse": {
                  "S.$": "States.JsonToString($.DerivedParams.UPSShipmentResponse)"
                },
                ":upsShipmentProcessCompletionTime": {
                  "S.$": "$$.State.EnteredTime"
                },
                ":upsShipmentProcessSubmissionTime": {
                  "S.$": "$.Payload.ShipmentProcessSubmissionTime"
                }
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed"
                ],
                "BackoffRate": 2,
                "IntervalSeconds": 2,
                "MaxAttempts": 15,
                "Comment": "Retry DDB inserts/updates"
              }
            ],
            "Next": "Save Results of Shipping"
          },
          "Save Results of Shipping": {
            "Type": "Pass",
            "Parameters": {
              "AddressHash.$": "$.Payload.AddressHash",
              "AddressDateHash.$": "$.Payload.AddressDateHash",
              "AirwayBillNumber.$": "$.Payload.AirwayBillNumber",
              "ShipmentRecordId.$": "$.DerivedParams.ShipmentRecordId",
              "UPSTrackerID.$": "$.DerivedParams.UPSTrackerID",
              "ShipmentProcessSubmissionTime.$": "$.Payload.ShipmentProcessSubmissionTime",
              "UPSShipmentProcessCompletionTime.$": "$$.State.EnteredTime"
            },
            "ResultPath": "$.myResultParameters",
            "OutputPath": "$.myResultParameters",
            "End": true
          }
        }
      },
      "ItemsPath": "$.Messages",
      "End": true
    }
  }
}
