statemachine/upsshipment_handler_step_function.asl.json
{
  "Comment": "UPS Shipment handler state machine",
<<<<<<< HEAD
  "StartAt": "Map",
  "States": {
    "Map": {
      "Type": "Map",
      "Iterator": {
          "StartAt": "UPS Shipment Invoke",         
        "States": {
        "UPS Shipment Invoke": {
=======
  "StartAt": "UPS Shipment Invoke",
  "States":   {
    "UPS Shipment Invoke": {
>>>>>>> 23486f0de65963becdf35afcb0339f828bf907f6
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultPath": "$.UPSShipment",
            "Parameters": {
<<<<<<< HEAD
              "Payload.$": "$.Payload",
=======
              "Payload.$": "$",
>>>>>>> 23486f0de65963becdf35afcb0339f828bf907f6
              "FunctionName": "${UPSShipperService}"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed",
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException"
                ],
<<<<<<< HEAD
                "IntervalSeconds": 1,
=======
                "IntervalSeconds": 2,
>>>>>>> 23486f0de65963becdf35afcb0339f828bf907f6
                "MaxAttempts": 6,
                "BackoffRate": 2
              }
            ],
<<<<<<< HEAD
            "Next": "Reformat Parameters"
          },
          "Reformat Parameters": {
            "Type": "Pass",
            "Parameters": {
              "ShipmentRecordId.$": "$.Payload.Shipment.recordId.S",
              "UPSTrackerID.$": "$.UPSShipment.Payload.UPSShipmentTrackingCode",
              "UPSShipmentResponse.$": "$.UPSShipment.Payload.UPSShipmentTracker.ShipmentResponse",
              "UPSShipmentRequest.$": "$.UPSShipment.Payload.ShipmentRequest"
            },
            "ResultPath": "$.DerivedParams",
            "Next": "Save UPSTracker"
          },
          
          "Save UPSTracker": {
=======
            "Next": "Save UPSTracker"
          },
    "Save UPSTracker": {
>>>>>>> 23486f0de65963becdf35afcb0339f828bf907f6
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "ResultPath": null,
            "Parameters": {
              "TableName": "${UPSTrackingTable}",
              "Item": {
                "addrHashCode": {
<<<<<<< HEAD
                  "S.$": "$.Payload.AddressHash"
                },
                "addrDateHash": {
                  "S.$": "$.Payload.AddressDateHash"
                },
                "airwayBillNumber": {
                  "S.$": "$.Payload.AirwayBillNumber"
                },
                "shipmentRecordId": {
                  "S.$": "$.DerivedParams.ShipmentRecordId"
                },
                "upsTracker": {
                  "S.$": "$.DerivedParams.UPSTrackerID"
                },
                "upsShipmentResponse": {
                  "S.$": "States.JsonToString($.DerivedParams.UPSShipmentResponse)"
                },
                "associatedShipmentDetail": {
                  "S.$": "States.JsonToString($.DerivedParams.UPSShipmentRequest)"
=======
                  "S.$": "$.AddressHash"
                },
                "shipmentCode": {
                  "S.$": "$.ShipmentCode"
                },
                "shipmentRecordId": {
                  "S.$": "$.Shipment.recordId.S"
                },
                "upsTracker": {
                  "S.$": "$.UPSShipment.Payload.UPSShipmentTrackingCode"
                },
                "upsShipmentResponse": {
                  "S.$": "States.JsonToString($.UPSShipment.Payload.UPSShipmentTracker.ShipmentResponse)"
                },
                "associatedShipmentDetail": {
                  "S.$": "States.JsonToString($.UPSShipment.Payload.ShipmentRequest)"
>>>>>>> 23486f0de65963becdf35afcb0339f828bf907f6
                },
                "processTime": {
                  "S.$": "$$.State.EnteredTime"
                }
              }
            },
<<<<<<< HEAD
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed"
                ],
                "BackoffRate": 2,
                "IntervalSeconds": 1,
                "MaxAttempts": 6,
                "Comment": "Retry DDB inserts/updates"
              }
            ],
=======
>>>>>>> 23486f0de65963becdf35afcb0339f828bf907f6
            "Next": "Update Shipment Record with UPS Tracker"
          },
          "Update Shipment Record with UPS Tracker": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "ResultPath": null,
            "Parameters": {
              "TableName": "${ShipmentRecordTable}",
              "Key": {
<<<<<<< HEAD
                "addrDateHash": {
                  "S.$": "$.Payload.AddressDateHash"
                },
                "recordId": {
                  "S.$": "$.DerivedParams.ShipmentRecordId"
=======
                "addrHashCode": {
                  "S.$": "$.AddressHash"
                },
                "recordId": {
                  "S.$": "$.Shipment.recordId.S"
>>>>>>> 23486f0de65963becdf35afcb0339f828bf907f6
                }
              },
              "UpdateExpression": "SET upsTracker = :myValueRef",
              "ExpressionAttributeValues": {
                ":myValueRef": {
<<<<<<< HEAD
                  "S.$": "$.DerivedParams.UPSTrackerID"
                }
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed"
                ],
                "BackoffRate": 2,
                "IntervalSeconds": 1,
                "MaxAttempts": 6,
                "Comment": "Retry DDB inserts/updates"
              }
            ],
            "End": true
          }
        }
      },
      "ItemsPath": "$.Messages",
      "End": true
    }
  }
}
=======
                  "S.$": "$.UPSShipment.Payload.UPSShipmentTrackingCode"
                }
              }
            },
            "Next": "Save Results of SAWB and UPS"
          },
          "Save Results of SAWB and UPS": {
            "Type": "Pass",
            "Parameters": {
              "AddressHash.$": "$.AddressHash",
              "AirwayShipmentID.$": "$.ShipmentCode",
              "ShipmentRecordId.$": "$.Shipment.recordId.S",
              "UPSTrackerID.$": "$.UPSShipment.Payload.UPSShipmentTrackingCode"
            },
            "ResultPath": "$.myResultParameters",
            "OutputPath": "$.myResultParameters",
            "End": true
          }
        }
}
>>>>>>> 23486f0de65963becdf35afcb0339f828bf907f6
