statemachine/upsshipment_handler_step_function.asl.json
{
  "Comment": "UPS Shipment handler state machine",
  "StartAt": "Map",
  "States": {
    "Map": {
      "Type": "Map",
      "Iterator": {
          "StartAt": "UPS Shipment Invoke",
        "States": {
        "UPS Shipment Invoke": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultPath": "$.UPSShipment",
            "Parameters": {
              "Payload.$": "$.Payload",
              "FunctionName": "${UPSShipperService}"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed",
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 6,
                "BackoffRate": 2
              }
            ],
            "Next": "Reformat Parameters"
          },
          "Reformat Parameters": {
            "Type": "Pass",
            "Parameters": {
              "ShipmentRecordId.$": "$.Payload.Shipment.recordId.S",
              "UPSTrackerID.$": "$.UPSShipment.Payload.UPSShipmentTrackingCode",
              "UPSShipmentResponse.$": "$.UPSShipment.Payload.UPSShipmentTracker.ShipmentResponse",
              "UPSShipmentRequest.$": "$.UPSShipment.Payload.ShipmentRequest"
            },
            "ResultPath": "$.DerivedParams",
            "Next": "Save UPSTracker"
          },

          "Save UPSTracker": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "ResultPath": null,
            "Parameters": {
              "TableName": "${UPSTrackingTable}",
              "Item": {
                "addrHashCode": {
                  "S.$": "$.Payload.AddressHash"
                },
                "addrDateHash": {
                  "S.$": "$.Payload.AddressDateHash"
                },
                "airwayBillNumber": {
                  "S.$": "$.Payload.AirwayBillNumber"
                },
                "shipmentRecordId": {
                  "S.$": "$.DerivedParams.ShipmentRecordId"
                },
                "upsTracker": {
                  "S.$": "$.DerivedParams.UPSTrackerID"
                },
                "upsShipmentResponse": {
                  "S.$": "States.JsonToString($.DerivedParams.UPSShipmentResponse)"
                },
                "associatedShipmentDetail": {
                  "S.$": "States.JsonToString($.DerivedParams.UPSShipmentRequest)"
                },
                "processTime": {
                  "S.$": "$$.State.EnteredTime"
                }
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed"
                ],
                "BackoffRate": 2,
                "IntervalSeconds": 2,
                "MaxAttempts": 15,
                "Comment": "Retry DDB inserts/updates"
              }
            ],
            "Next": "Update Shipment Record with UPS Tracker"
          },
          "Update Shipment Record with UPS Tracker": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "ResultPath": null,
            "Parameters": {
              "TableName": "${ShipmentRecordTable}",
              "Key": {
                "addrDateHash": {
                  "S.$": "$.Payload.AddressDateHash"
                },
                "recordId": {
                  "S.$": "$.DerivedParams.ShipmentRecordId"
                }
              },
              "UpdateExpression": "SET upsTracker = :myValueRef, airwayBillNumber = :airwayBillNumber",
              "ExpressionAttributeValues": {
                ":myValueRef": {
                  "S.$": "$.DerivedParams.UPSTrackerID"
                },
                ":airwayBillNumber": {
                  "S.$": "$.Payload.AirwayBillNumber"
                }
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed"
                ],
                "BackoffRate": 2,
                "IntervalSeconds": 2,
                "MaxAttempts": 15,
                "Comment": "Retry DDB inserts/updates"
              }
            ],
            "End": true
          }
        }
      },
      "ItemsPath": "$.Messages",
      "End": true
    }
  }
}
