statemachine/workingSAWB.asl.json
{
  "Comment": "SAWB Processing state machine",
  "StartAt": "Invoke SAWB",
  "States": {
    "Invoke SAWB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultSelector": {
        "AirwayBill.$": "$.Payload"
      },
      "ResultPath": "$.AirwayBill",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:523933434461:function:AirwayShipmentGeneratorFunction"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Save ShipmentBill"
    },
    "Save ShipmentBill": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "ResultPath": null,
      "Parameters": {
        "TableName": "AirwaysShipmentDetail",
        "Item": {
          "addrHashCode": {
            "S.$": "$.addrHashCode"
          },
          "shipmentRecordID": {
            "S.$": "$.AirwayBill.AirwayBill.sawb_bill_number"
          },
          "processTime": {
            "S.$": "$$.State.EnteredTime"
          },
          "body": {
            "S.$": "States.JsonToString($.AirwayBill)"
          }
        }
      },
      "Next": "Invoke Inventory"
    },
    "Invoke Inventory": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultSelector": {
        "inventory.$": "$.Payload.Inventory"
      },
      "ResultPath": "$.InventoryResult",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:523933434461:function:InventoryHandlerFunction"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.InventoryResult.inventory.available",
          "IsPresent": false,
          "Next": "ReplaceSupplier"
        }
      ],
      "Default": "GoWithSupplier"
    },
    "GoWithSupplier": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:523933434461:function:SupplierHandlerFunction"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Update ShipmentHash As Processed with ShipmentRecord"
    },
    "Update ShipmentHash As Processed with ShipmentRecord": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "ResultPath": "$.GroupShipmentHashUpdate",
      "Parameters": {
        "TableName": "ShipmentHash",
        "Key": {
          "addrHashCode": {
            "S.$": "$.addrHashCode"
          }
        },
        "UpdateExpression": "SET wasProcessed = :myValueRef, sawbHash = :sawbHashRef",
        "ExpressionAttributeValues": {
          ":myValueRef": {
            "S": "true"
          },
          ":sawbHashRef": {
            "S.$": "$.AirwayBill.AirwayBill.sawb_bill_number"
          }
        }
      },
      "Next": "Start query for unprocessed shipment records"
    },
    "Start query for unprocessed shipment records": {
      "Type": "Task",
      "Next": "Map",
      "Parameters": {
        "TableName": "ShipmentRecord",
        "ProjectionExpression": "processTime,recordId,addrHashCode",
        "ExpressionAttributeValues": {
          ":addrHash": {
            "S.$": "$.addrHashCode"
          }
        },
        "KeyConditionExpression": "addrHashCode = :addrHash",
        "FilterExpression": "attribute_not_exists(upsTracker)"
      },
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
      "ResultPath": "$.UnTrackedShipmentRecords"
    },
    "Map": {
      "Type": "Map",
      "Iterator": {
        "StartAt": "UPS Shipment Invoke",
        "States": {
          "UPS Shipment Invoke": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultPath": "$.UPSShipment",
            "Parameters": {
              "Payload.$": "$",
              "FunctionName": "${UPSShipperService}"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed",
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2
              }
            ],
            "Next": "Save UPSTracker"
          },
          "Save UPSTracker": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "ResultPath": null,
            "Parameters": {
              "TableName": "${UPSTrackingTable}",
              "Item": {
                "addrHashCode": {
                  "S.$": "$.AddressHash"
                },
                "shipmentCode": {
                  "S.$": "$.ShipmentCode"
                },
                "shipmentRecordId": {
                  "S.$": "$.Shipment.recordId.S"
                },
                "upsTracker": {
                  "S.$": "$.UPSShipment.Payload.UPSShipmentTrackingCode"
                },
                "upsShipmentResponse": {
                  "S.$": "States.JsonToString($.UPSShipment.Payload.UPSShipmentTracker.ShipmentResponse)"
                },
                "associatedShipmentDetail": {
                  "S.$": "States.JsonToString($.UPSShipment.Payload.ShipmentRequest)"
                },
                "processTime": {
                  "S.$": "$$.State.EnteredTime"
                }
              }
            },
            "Next": "Update Shipment Record with UPS Tracker"
          },
          "Update Shipment Record with UPS Tracker": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "ResultPath": null,
            "Parameters": {
              "TableName": "ShipmentRecord",
              "Key": {
                "addrHashCode": {
                  "S.$": "$.AddressHash"
                },
                "recordId": {
                  "S.$": "$.Shipment.recordId.S"
                }
              },
              "UpdateExpression": "SET upsTracker = :myValueRef",
              "ExpressionAttributeValues": {
                ":myValueRef": {
                  "S.$": "$.UPSShipment.Payload.UPSShipmentTrackingCode"
                }
              }
            },
            "Next": "Save Results of SAWB and UPS"
          },
          "Save Results of SAWB and UPS": {
            "Type": "Pass",
            "Parameters": {
              "AddressHash.$": "$.AddressHash",
              "AirwayShipmentID.$": "$.ShipmentCode",
              "ShipmentRecordId.$": "$.Shipment.recordId.S",
              "UPSTrackerID.$": "$.UPSShipment.Payload.UPSShipmentTrackingCode"
            },
            "ResultPath": "$.myResultParameters",
            "OutputPath": "$.myResultParameters",
            "End": true
          }
        }
      },
      "ItemsPath": "$.UnTrackedShipmentRecords.Items",
      "Parameters": {
        "Shipment.$": "$$.Map.Item.Value",
        "AddressHash.$": "$.addrHashCode",
        "ShipmentCode.$": "$.AirwayBill.AirwayBill.sawb_bill_number"
      },
      "ResultPath": "$.ProcessedRecords",

      "MaxConcurrency": 0,
      "Next": "Check if additional untracked Shipment records exist"
    },
    "Check if additional untracked Shipment records exist": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.UnTrackedShipmentRecords.LastEvaluatedKey",
            "IsPresent": true
          },
          "Next": "Dummy Step"
        }
      ],
      "Default": "Continue query for unprocessed shipment records"
    },
    "Continue query for unprocessed shipment records": {
      "Type": "Task",
      "Next": "Map",
      "Parameters": {
        "TableName": "ShipmentRecord",
        "ProjectionExpression": "processTime,recordId,addrHashCode",
        "ExpressionAttributeValues": {
          ":addrHash": {
            "S.$": "$.addrHashCode"
          }
        },
        "KeyConditionExpression": "addrHashCode = :addrHash",
        "ExclusiveStartKey.$": "$.UnTrackedShipmentRecords.LastEvaluatedKey",
        "FilterExpression": "attribute_not_exists(upsTracker)"
      },
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
      "ResultPath": "$.UnTrackedShipmentRecords"
    },
    "Dummy Step": {
      "Type": "Pass",
      "End": true
    },
    "ReplaceSupplier": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.UPSShippingResponse",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:523933434461:function:SupplierHandlerFunction"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Update ShipmentHash As Processed with ShipmentRecord"
    }
  }
}
